@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    color: red;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
    padding-bottom: 2rem;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.contador {
    display: flex;
    align-items: center;
    height: 90vh;
}

.grupo {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 25%;
    padding: 1.3rem 1.3rem;
    border: 1px solid lightgray;
}

footer {
    text-align: center;
    width: 100%;
    background-color:lightgray;
    position: fixed;
    bottom: 0;
    font-size: 12px;    
}

footer a{
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: rgb(160, 160, 160);
    transition: all 0.4s ease;
}

@media (max-width: 1024px) {
    .contador {
        width: 90%;
    }
}

@media (max-width: 650px) {

    .contador {
        width: 90%;
    }

    .grupo {
        width: 95%;
        border: 1px solid transparent;
    }
}